################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/studentapp/.vs/studentapp/FileContentIndex/3132bb86-f567-42bc-96ca-ed19236cdb09.vsidx
/studentapp/.vs/studentapp/FileContentIndex
